
#gallery {
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 100%;
    height: auto;
    border: 1px solid #e9e9e9;
    background: rgba(255, 255, 255, 0.71);
    margin-top: 1px;
    border-radius: 5px;
    margin-bottom: 3vw;
}

.head {
    margin-top: 3px;
    margin-left: 1vw;
    padding-top: 1vw;
    border-radius: 5vw;
    height: 29px;
}

.head > h3 {
    font-size: 20px;
}

.pic {
    margin-top: 3px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

.foot {
    margin-top: 3px;
}

.pic > img {
    width: 100%;
}

@media (min-width: 600px) {
    #gallery {
        display: block;
    }
    .article {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: auto;
    }
    .head {
        margin-top: 3px;
        margin-left: 8px;
        padding-top: 8px;
        border-radius: 10px;
        height: 43px;
    }
    .head > h3 {
        font-size: 23px;
    }

}
