.fixed {
    width: 100%;
    position: fixed;
    top: 0;
}
.topnav {
    background: #8d9ed4;
    overflow: hidden;
    top: 0;
    height: 48px;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    font-size: 17px;
    list-style-type: none;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background: rgba(225,225,227,0.83);
    color: #500f19;
}

.topnav a.active {
    background: black;
    color: white;
}

.topnav a.unroll {
    display: none;
}

@media screen and (min-width: 601px) {

    .logout {
        position: absolute;
        top: 0;
        right: 0;
    }
    .login {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        height: auto;
    }
    .topnav a {
        font-size: 8vw;
        padding: 2vw 2vw;
    }
    .icons {
        display: grid;
        grid-template-columns: repeat(2, 11vw);
        position: absolute;
        right: 0;
        top : 0;
    }

    .topnav a {font-size: 5vw}
    .topnav a:not(:first-child) {display: none;}
    .topnav a.unroll {
        display: block;
    }

    .topnav a.logout {
        display: block;
    }

    .topnav a.login {
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.logout, .responsive a.unroll {
        color: #8d9ed4 ;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
