html {
    position: relative;
    min-height: 100%;
}

body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png);
    color: #d4d8d5;
}

h1 {
    color: black;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 66px;
    background: #fff0e0;
    color: #2e0017;
}

canvas {
    border:1px solid black;
    width: 640px;
    height: 480px;
}
