<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Camagru</title>
    <link rel="stylesheet" href="/css/editor.css">
    <style type="text/css">
        canvas{
            border: 1px solid black;
        }
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <canvas></canvas>
    <script src="/js/editor.js"></script>
</body>
</html>
